<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">
        <link rel="shortcut icon" href="{{url_for('static',filename='img/imge/logo2.jpg')}}" type="image/x-icon">

    
   
</head>

<body>
    <img src="" alt="">
    <link rel="shortcut icon" href="{{url_for('static',filename='img/imge/fondologin.jpg')}}"  style="background-image">
    <h1 class="text-center">Pescados</h1>
        <br>
        <div class="row row-cols-1 row-cols-md-3 g-4 py-5">

                
                <div class="card">
                   
                    <img src="{{url_for('static',filename='img/imagenes/img1.jpg')}} " class="card-img-top" alt="...">
                    <div style="text-align: center;">
                    <div class="card-body">
                        <h5 class="card-title">Mojarra</h5>
                        <p class="card-text"> $ 45.000</p>
                        <p class="card-text"> $ 67.500</p>
                        <br>
                    </div>
                   
                        <button class="btn btn-primary">Perzonalizar</button>
                        <button class="btn btn-primary">Pedir</button>
                    </div>
                </div>
           
                
                <div class="card">

                    <img src="{{url_for('static',filename='img/imagenes/img10.jpg')}}" class="card-img-top" alt="...">
                    <div style="text-align: center;">
                    <div class="card-body">
                        <h5 class="card-title">Pargo Rojo</h5>
                        <p class="card-text">$ 47.000 </p>
                        <p class="card-text">$ 94.000 </p>
                        <br>
                    
                    </div>
                    
                        <button class="btn btn-primary">Perzonalizar</button>
                         <button class="btn btn-primary">Pedir</button>
                        </div>   
                    
                </div>

                
                <div class="card">
                    <img src="{{url_for('static',filename='img/imagenes/img12.jpg')}}" class="card-img-top"  height="270px">
                    <div style="text-align: center;">
                    <div class="card-body">
                        <h5 class="card-title">Robalo</h5>
                        <p class="card-text">$ 47.000 </p>
                        <p class="card-text">$ 94.000 </p>
                    
                    </div>
                    
                        <button class="btn btn-primary">Perzonalizar</button>
                         <button class="btn btn-primary">Pedir</button>
                        
                        </div>
                </div>
                
                <div class="card">
                    <img src="{{url_for('static',filename='img/imagenes/img10.jpg')}}" class="card-img-top" height="310px">
                    <div style="text-align: center;">
                    <div class="card-body">
                        <h5 class="card-title">Robalo a la Plancha</h5>
                        <p class="card-text">$ 41.000 </p>
                    
                    </div>
                    
                        <button class="btn btn-primary">Perzonalizar</button>
                         <button class="btn btn-primary">Pedir</button>
                        
                        </div>
                </div>

                <div class="card">
                <img src="{{url_for('static',filename='img/imagenes/img14.jpg')}}" class="card-img-top" alt="...">
                    <div style="text-align: center;">
                    <div class="card-body">
                        <h5 class="card-title">Robalo al Ajillo</h5>
                        <p class="card-text">$ 42.000 </p>
                    
                    </div>
                
                    
                        <button class="btn btn-primary">Perzonalizar</button>
                         <button class="btn btn-primary">Pedir</button>
                        </div>
                    
                </div>
                <div class="card">
                    <img src="{{url_for('static',filename='img/imagenes/img15.jpg')}}" class="card-img-top" height="230px">
                   <div style="text-align: center;">
                    <div class="card-body">
                        <h5 class="card-title">Róbalo en Salsa Douglet</h5>
                        <p class="card-text">$ 46.000 </p>
                    
                    </div>
                    
                        <button class="btn btn-primary">Perzonalizar</button>
                         <button class="btn btn-primary">Pedir</button>
                      
                        </div>  
                </div>

                <div class="card">
                    <img src="{{url_for('static',filename='img/imagenes/img2.jpg')}}" class="card-img-top" height="190px">
                  <div style="text-align: center;">
                    <div class="card-body">
                        <h5 class="card-title">Robalo Esturion</h5>
                        <p class="card-text">$ 45.000</p>
                        <br>
                        
                    </div>
                    
                        <button class="btn btn-primary">Perzonalizar</button>
                        <button class="btn btn-primary">Pedir</button>
                    
                    </div>
              
            
            </div>
            <div class="card">
                <img src="{{url_for('static',filename='img/imagenes/img16.jpg')}}" class="card-img-top" height="190px">
                <div style="text-align: center;">
                <div class="card-body">
                    <h5 class="card-title">Robalo Gratinado</h5>
                    <p class="card-text">$ 45.000</p>
                    <br>
                    
                </div>
                
                    <button class="btn btn-primary">Perzonalizar</button>
                    <button class="btn btn-primary">Pedir</button>
               
                </div>
            </div>
            <div class="card">
                <img src="{{url_for('static',filename='img/imagenes/img17.jpg')}}" class="card-img-top" height="195px">
                <div style="text-align: center;">
                <div class="card-body">
                    <h5 class="card-title">Róbalo Marinera</h5>
                    <p class="card-text">$ 48.000 </p>
                    <br>
                
                </div>
                
                    <button class="btn btn-primary">Perzonalizar</button>
                     <button class="btn btn-primary">Pedir</button>
                   
                    </div>
            </div>
            <div class="card">
                <img src="{{url_for('static',filename='img/imagenes/img18.jpg')}}" class="card-img-top" height="240px">
                <div style="text-align: center;">
                    <div class="card-body">
                    <h5 class="card-title">Róbalo Marinera Gratinado</h5>
                    <p class="card-text">$ 50.000 </p>
                
                </div>
                
                    <button class="btn btn-primary">Perzonalizar</button>
                     <button class="btn btn-primary">Pedir</button>
                    </div>
                
            </div>
            <div class="card">
                <img src="{{url_for('static',filename='img/imagenes/img19.jpeg')}}" class="card-img-top" height="240px">
                <div style="text-align: center;">
                <div class="card-body">
                    <h5 class="card-title">Róbalo Milanesa</h5>
                    <p class="card-text">$ 44.000 </p>
                    
                
                </div>
                
                    <button class="btn btn-primary">Perzonalizar</button>
                     <button class="btn btn-primary">Pedir</button>
                    
                    </div>
            </div>
                
        </div>
 
        
        <div style="text-align: center;"></div>
                    <section class="pagi">
                       
                        <ul>
                            <li class="scroll-to-section"><a href="/menu" class="activate">volver</a></li>
                        </ul>
                    
                    </section>
        </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>