<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>El Esturión</title>
    <link rel="shortcut icon" href="{{url_for('static',filename='img/imge/logo2.jpg')}}" type="image/x-icon">
    <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <nav>
            <a href="{{ url_for('login.login') }}">Iniciar sesion</a>
        </nav>
        <section class="textos-header">
            <img id="logo" src="{{url_for('static',filename='img/imge/logo2.jpg')}}" alt="">
            <h1>Los mejores mariscos</h1>
            <h2>Deliciosos</h2>
        </section>
        <div class="wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
                style="height: 100%; width: 100%;">
                <path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                    style="stroke: none; fill: #fff;"></path>
            </svg></div>
    </header>
    <main>
        <section class="contenedor sobre-nosotros">
            <h2 class="titulo">El Esturión</h2>
            <div class="contenedor-sobre-nosotros">
                <img src="{{url_for('static',filename='img/imge/portada2.jpg')}}" alt="" class="imagen-about-us">
                <br>
                <br>
                <div class="contenido-textos">
                    <h3><span>1</span>El mejor servicio</h3>
                    <p>Buscamos complacer a nuestros clientes y dar el mejor servicio, cuidando de nuestra salud y la suya con todas las medidas sanitarias, buscando sacar una sonrisa para usted y su familia!!</p>
                    <h3><span>2</span>Los mejores platos</h3>
                    <p>Tenemos una variedad de platos a su gusto,siendo nuestro mejor pago e ingrediente secreto que mejora todo es una sonrisa.</p>
                </div>
            </div>
        </section>
        <section class="portafolio">
            <div class="contenedor">
                <h2 class="titulo">Galeria</h2>
                <div class="galeria-port">
                    <div class="imagen-port">
                        <img src="{{url_for('static',filename='img/imge/imagen1.jpg')}}" alt="">
                        <div class="hover-galeria">
                            <img src="img/icono1.png" alt="">
                            <p>Nuestro trabajo</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="{{url_for('static',filename='img/imge/imagen2.jpg')}}" alt="">
                        <div class="hover-galeria">
                            <img src="img/icono1.png" alt="">
                            <p>Nuestro trabajo</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="{{url_for('static',filename='img/imge/imagen3.jpg')}}" alt="">
                        <div class="hover-galeria">
                            <img src="img/icono1.png" alt="">
                            <p>Nuestro trabajo</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="{{url_for('static',filename='img/imge/imagen4.jpg')}}"  alt="">
                        <div class="hover-galeria">
                            <img src="img/icono1.png" alt="">
                            <p>Nuestro trabajo</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="{{url_for('static',filename='img/imge/imagen5.jpg')}}" alt="">
                        <div class="hover-galeria">
                            <img src="img/icono1.png" alt="">
                            <p>Nuestro trabajo</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="{{url_for('static',filename='img/imge/imagen6.jpg')}}" alt="">
                        <div class="hover-galeria">
                            <img src="img/icono1.png" alt="">
                            <p>Nuestro trabajo</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="{{url_for('static',filename='img/imge/imagen7.jpg')}}" alt="">
                        <div class="hover-galeria">
                            <img src="img/icono1.png" alt="">
                            <p>Nuestro trabajo</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="{{url_for('static',filename='img/imge/imagen9.jpg')}}" alt="">
                        <div class="hover-galeria">
                            <img src="img/icono1.png" alt="">
                            <p>Nuestro trabajo</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="contenedor-footer">
            <div class="content-foo">
                <h4>Telefono</h4>
                <p>(601)5250356</p>
                <p>3114907781</p>
            </div>
        </div>
        <h2 class="titulo-final">&copy; El Esturión</h2>
    </footer>
</body>

</html>
