<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar Plato</title>
    <link rel="shortcut icon" href="{{url_for('static',filename='img/logo2.jpg')}}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/login.css')}}">
</head>
  <body>
    <div class="login-page">
        <div class="form">
          <form action="/actualizarPlato/{{ plate.codigoPlato }}" method="POST" class="login-form">
            <img src="{{url_for('static',filename='img/logo2.jpg')}} "  >
            <!--<img src="../../Assets/imagene/img/logo2.jpg" height="150px" width="150px" >-->
            <br><br>
            <label for="">Nombre del plato</label>
            <input type="text" name="nombre" value="{{ plate.nombrePlato }}" pattern="[A-Za-zÁÉÍÓÚáéíóúñÑ\s]{5,}"  required/>
            <label for="">Descripción del plato</label>
            <input type="text" name="descripcion" value="{{ plate.descripcionPlato }}" pattern="[A-Za-zÁÉÍÓÚáéíóúñÑ\s]{10,}" required/>
            <label for="">Precio del plato</label>
            <input type="number" name="precio" value="{{ plate.precioPlato }}" min="5000" step="1" required/>
            <br>
            <button>Actualizar</button>
          </form>
        </div>
      </div>
</body>
</html>


