<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{url_for('static',filename='img/logo2.jpg')}}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/estilos.css')}}">
    <title>Consultar Plato</title>
</head>
<body>
    <table>
      <div class="logo-container">
        <img class="logo" src="{{url_for('static',filename='img/logo2.jpg')}} ">
      </div>
        <thead>
            <tr>
              <th>Código </th>
              <th>Nombre</th>
              <th>Descripción</th>
              <th>Precio</th>
              <th></th>
              <th></th>
            </tr>
        </thead>
        {% for plate in plates %}
        <tbody>
            <tr>
                <td>{{ plate.codigoPlato }}</td>
                <td>{{ plate.nombrePlato }}</td>
                <td>{{ plate.descripcionPlato }}</td>
                <td>{{ plate.precioPlato }}</td>
                <td>
                  <a href="{{ url_for('plates.actualizarPlato', codigoPlato=plate.codigoPlato) }}" class="boton">Actualizar</a>
                </td>
                <td>
                  <a href="{{ url_for('plates.eliminarPlato', codigoPlato=plate.codigoPlato) }}" class="boton boton-rojo">Eliminar</a>
                </td> 
            </tr>
        </tbody>
        {% endfor %}
    </table>
</body>
</html>



